# basic settings
title: "@olegbukatchuk"
email: "oleg@bukatchuk.com"
description: "olegbukatchuk"
author: "Олег Букатчук"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://bukatchuk.ru" # the base hostname & protocol for your site, e.g. http://example.com
date_format: "%d %B %Y"

# paginations & permalinks
paginate: 9
paginate_path: "/blog/page:num/"
permalink: pretty

# disqus comments
disqus_comments: "no" # yes - show disqus comments, no - hide disqus comments
disqus_shortname: "glitche-jekyll-theme" # read more here https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-

# formsubmit.io
formsubmit_email: "oleg@bukatchuk.com" # sign up on https://formsubmit.io/ and confirm your email

# collections
collections:
  - works
  - vinyl

# archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive
    tag: archive
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/

# Build settings
plugins:
  - jekyll-archives
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/
  - _posts_backup
  - _posts

sass:
  style: compressed

markdown:  kramdown