services:
  backend:
    container_name: ${BACKEND}
    hostname: ${BACKEND}
    restart: ${RESTART_MODE}
    env_file:
      - .env.production.common
      - .env.production.backend
    volumes:
      - type: bind
        source: ${VOLUMES_DIR}/php
        target: /var/www/html
        bind:
          create_host_path: true
    image: ${BACKEND}:php-fpm-8.4.12
    build:
      context: ${BUILD_DIR}/${BACKEND}/

  balancer:
    container_name: ${BALANCER}
    hostname: ${BALANCER}
    restart:  ${RESTART_MODE}
    env_file:
      - .env.production.common
      - .env.production.balancer
    volumes:
      - type: bind
        source: ${VOLUMES_DIR}/letsencrypt
        target: /etc/nginx/ssl
        bind:
          create_host_path: true
    ports:
      - "${HTTP}:${HTTP}"
      - "${HTTPS}:${HTTPS}"
    environment:
      - TZ=${TZ}
      - LETSENCRYPT=${LETSENCRYPT}
      - LE_EMAIL=${LE_EMAIL}
      - LE_FQDN=${LE_FQDN}
    image: ${BALANCER}:nginx-1.27.3
    build:
      context: ${BUILD_DIR}/${BALANCER}/

  database:
    container_name: ${DATABASE}
    hostname: ${DATABASE}
    restart:  ${RESTART_MODE}
    env_file:
      - .env.production.common
      - .env.production.database
    volumes:
      - type: bind
        source: ${VOLUMES_DIR}/mysql
        target: /var/lib/mysql
        bind:
          create_host_path: true
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    image: ${DATABASE}:mysql-8.0.43
    build:
      context: ${BUILD_DIR}/${DATABASE}/

  frontend:
    container_name: ${FRONTEND}
    hostname: ${FRONTEND}
    restart:  ${RESTART_MODE}
    env_file:
      - .env.production.common
      - .env.production.frontend
    volumes:
      - type: bind
        source: ${VOLUMES_DIR}/php
        target: /var/www/html
        bind:
          create_host_path: true
    image: ${FRONTEND}:nginx-1.29.1
    build:
      context: ${BUILD_DIR}/${FRONTEND}/
