<footer class="page-footer overflow-hidden py4 mx2">
  <section class="max-width-4 mx-auto clearfix center">
    <nav class="site-nav text-rounded mb2 text-small">
      {% if page.layout == "home" %}
      {% else %}
      <a class="inline-block mr2" href="/">Главная</a>
      {% endif %}
      <a class="inline-block mr2" href="/#work">Опыт</a>
      <a class="inline-block mr2" href="/#projects">Проекты</a>
      <a class="inline-block mr2" href="/process/">Процесс</a>
      <a class="inline-block mr2" href="/principles/">Принципы</a>
      <a class="inline-block mr2" href="/about/">Обо мне</a>
      <a class="inline-block" href="/writing/">Статьи</a>
    </nav>

    {% include social-icons.html %}

    <div class="text-small mt3">
      <p class="mt0 mb2">
         {{ site.time | date: "%Y" }} ©  Олег Букатчук. Все права защищены.
      </p>

    </div>

  </section>
</footer>
