---
layout: default
---

<style>
  @media screen and (min-width: 769px) {
    .column {
      width: 50%;
      float: left;
      max-width: 50%;
      padding: 5px;
    }

    .row {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
</style>


<div class="home">

  <div class="divider">
    <div class="left">
      <a href="https://bukatchuk.com/about/"><img id="profilepic" width="200" height="200" src="assets/avatar.jpg" alt="Profile"></a>
    </div>
    <div class="right">
      <p>Привет! Меня зовут <a class="page-link" href="/about/">Олег Букатчук</a>. Мне, 42. ИТ эксперт с 18 летним опытом. Интересуюсь музыкой на виниле. Читаю по настроению.</p>
      <p>
        На текущий момент я закрыл все убыточные проекты и просто ищу вдохновение (то, чем буду заниматься в следующие 3-5 лет). Безусловно в планах есть запуск новых проектов, но это уже совсем другая история...
      </p>
    </div>
  </div>
 
  &nbsp;

  <hr>

  &nbsp;
  <div class="row">
    <div style="width:100%;"> <!-- <div class="column" style="width:100%;"> -->
      <h2 style="font-size: 1.5em;">Блог</h2>

      <ul class="post-list">
        {% assign mainPosts = site.posts | where: 'type', 'post' %}
        {% for post in mainPosts limit:10 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%d-%m-%Y" %}
          <span class="post-meta" style="font-size: 0.9em;">{{ post.date | date: date_format }}</span>
          <!-- &verbar; {{ post.category | capitalize }} -->
          <h3 style="font-size: 1.2em;"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <p style="font-size: 0.9em;">{{ post.description }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- <div class="column" style="width:100%; float:right;">
      <h2 style="font-size: 1.5em;">Проекты</h2>
      <ul class="post-list">
        {% assign news_content = site.pages | where: "path", "news.md" | first %}
        {{ news_content.content | markdownify }}
      </ul>
    </div> -->
  </div>

</div>